
/vial-qmk/
vial-qmk.sublime-workspace
desktop/monenumpad_desktop/.vs
desktop/monenumpad_desktop/monenumpad_desktop/bin/
desktop/monenumpad_desktop/monenumpad_desktop/obj/
src/qmk-firmware/.build/
src/qmk-firmware/**/*.o